<div class="row">
  <h1><span style="font-size: 40px;float:left; margin-right:10px" class="ion-information-circled"/>Overall Statistics</h1>
  <div class="btn-group">
        <label class="btn btn-default" ng-model="overallRange" btn-radio="'today'">Today</label>
        <label class="btn btn-default" ng-model="overallRange" btn-radio="'week'">This Week</label>
        <label class="btn btn-default" ng-model="overallRange" btn-radio="'month'">This Month</label>
        <label class="btn btn-default" ng-model="overallRange" btn-radio="'year'">This Year</label>         
    </div>    
  <table class="table table-striped">
    <tbody>
      <tr><th>EV Stations Online</th><td>{{overall.stationsOnline}}</td></tr>
      <tr><th>Total Energy Delivered</th><td>{{overall.energyDelivered | number: 0}} kWh</td></tr>
      <tr><th>Total CO2 Offset</th><td>{{overall.co2Offset | number: 2}} Tons</td></tr>
      <tr><th>Average Energy per Charge</th><td>{{overall.energyPerCharge  | number: 0}} kWh</td></tr>
      <tr><th>Peak Charge Time</th><td>{{overall.medianTime}}</td></tr>
      <tr><th>Average Charge Time</th><td>{{overall.averageChargeTime}}</td></tr> 
      <tr><th>Total Number of Charges</th><td>{{overall.numberOfCharges | number: 0}}</td></tr>                      
    </tbody>
  </table>
</div>
<div class="row">
  <h1><span style="font-size: 40px;float:left; margin-right:10px" class="ion-connection-bars"/>Station Rankings</h1>
  <div class="col-sm-4">
  <p>{{rank.message}}</p>
  <div class="btn-group-vertical">
        <label class="btn btn-default" ng-model="rank" btn-radio="{units: 'kWh', message: 'Ranks the total energy delivered to charged cars over the selected period of time in kilowatt hours (kWh).', type: '0'}">Power Delivered</label>
        <label class="btn btn-default" ng-model="rank" btn-radio="{units: 'hours', message: 'Ranks the total amount of time in hours that electric vehicles were connected to each station.', type: '1'}">Connection Time</label>
        <label class="btn btn-default" ng-model="rank" btn-radio="{units: '', message: 'Ranks the total number of charges for each station over the selected period of time.', type: '2'}">Number of Charges</label>
        <label class="btn btn-default" ng-model="rank" btn-radio="{units: '%', message: 'Ranks the percent uptime that each station was online and functional for the selected period of time.', type: '3'}">Station Up Time</label>         
    </div>  
  </div>
  <div class="col-sm-8">
    <canvas tc-chartjs-bar chart-data="barData" chart-options="barOptions" width="600" height="300"></canvas>

  <div class="btn-group">
        <label class="btn btn-default" ng-model="rankPeriod" btn-radio="'today'">Today</label>
        <label class="btn btn-default" ng-model="rankPeriod" btn-radio="'weekToDate'">This Week</label>
        <label class="btn btn-default" ng-model="rankPeriod" btn-radio="'monthToDate'">This Month</label>
        <label class="btn btn-default" ng-model="rankPeriod" btn-radio="'yearToDate'">This Year</label>         
    </div>      
  </div>
</div>
<div class="row">
  <h1><span style="font-size: 40px;float:left; margin-right:10px" class="ion-search"/>Station Focus</h1>
  <div class="col-sm-8">
    <leaflet tiles="tiles" center="center" geojson="geojson"></leaflet>
  </div>
  <div class="col-sm-4">
    <center><p class="lead">Select A Station</p>
    <div class="col-xs-6">
      <ul>
        <li ng-if="$even" ng-model="station" ng-repeat="station in stations" ng-click="stationSelected(station)"><button class="btn" ng-class="{'btn-success': station.status === 'connected', 'btn-charging': station.status === 'charging'}">{{station.name}}</button></li>
      </ul>
    </div>
    <div class="col-xs-6">
      <ul>
        <li ng-if="$odd" ng-model="station" ng-repeat="station in stations" ng-click="stationSelected(station)"><button class="btn" ng-class="{'btn-success': station.status === 'connected', 'btn-charging': station.status === 'charging'}">{{station.name}}</button></li>
      </ul>
    </div>
    </center>

  </div>

</div>
<div class="row" ng-show="station">
  <h2><span style="font-size: 40px;float:left; margin-right:10px" ng-class="{'ion-flash': station.status === 'charging', 'ion-plus': station.status === 'connected', 'ion-checkmark': station.status === 'available'}"/>{{station.name}}</h2>
  <p class="lead">{{station.address}}</p>
  <canvas tc-chartjs chart-type="line" chart-data="lineData" width="800" height="300" chart-options="lineOptions"></canvas>
  <div class="btn-group">
        <label class="btn btn-default" ng-model="dateRange" btn-radio="{range: 'today', minutes: 900000}">Today</label>
        <label class="btn btn-default" ng-model="dateRange" btn-radio="{range: 'weekToDate', minutes: 900000}">This Week</label>
        <label class="btn btn-default" ng-model="dateRange" btn-radio="{range: 'monthToDate', minutes: 86400000}">This Month</label>
        <label class="btn btn-default" ng-model="dateRange" btn-radio="{range: 'yearToDate', minutes: 'M'}">This Year</label>         
    </div>  
</div>
